

body {
	background-image:url('img/background.jpeg');
	background-color: #cccccc;
	font-family: Times New Roman, Times, serif;
	text-transform: uppercase;
	color: #FFFFFF;
	text-align: center;	
	font-weight: bold;
}

h1 {
	background-image: url('img/comapanylogoBG.jpg');
	background-size: 100% 140%;
	position: relative;
	left: 25%;
	width: 25%;
	height: 14%;
	padding-left: 12.5%;
	padding-right: 12.5%;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 0px;
	font-size: 3em;
}

h2 {
	left: 25%;
	text-transform: initial;
	color: #737373;
	text-align: left;
	border-style: solid;
	border-width: 1px;
	margin-top: 0%;
	margin-left: 25%;
	margin-right: 25%;
	margin-bottom: 0%;
	background-color: #F2F2F2;
	font-weight: normal;
	padding-bottom: 2%;
}

p {
	border-style: solid;
	border-width: 1px;
	background-color: #FFFFFF;
	width: 90%;
	margin-left: 2%;
	margin-bottom: 0%;
	padding-bottom: 4px;
	padding-top: 2px;
	font-size: 0.95em;
}

select {
	font-size: 0.75em;
	margin-left: 10%;
	width: 75%;
}

section {
	background-color: #2699FB;
	position: relative;
	height: 7%;
	left: 25%;
	width: 50%;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 3.2em;
}
	
img {
	left: 25%;
	width: 50%;
	height: 40%;
	object-fit: cover;
}

nav {
	position: relative;
	left: 25%;
	width: 50%;
	font-size: 1em;
	word-spacing: 7.5px;
    background-color: #707070;
	padding-top: 10px;
	padding-bottom: 10px;
}


nav a {
    color: white;
    text-decoration: none;
}

fieldset{
	left: 25%;
	border-style: none;
	margin-bottom: 0%;
}

input {
	width: 90%;
	height: 4%;
	margin-left: 2%;
	font-size: 0.82em;
}

input.button {
	width: 86%;
	background-color:#2699FB; 
	color:#FFFFFF;
	margin-left: 4%;
	font-size: 1em;
}

textarea {
	margin-left: 2%;
	width: 90%;
	height: 13%;
	font-size: 1em;
}

form {
	margin-bottom: 0%;
}

footer {
	background-color: #000000;
    position: relative;
    width: 50%;
    left: 25%;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 1em;
	text-transform: capitalize;
}